@inherits BlazorLeafletInterop.Components.Base.InteractiveLayer

<div id="@Id">
	<CascadingValue Name="MarkerRef" Value="MarkerRef">
		@if(MarkerRef is not null) @ChildContent	
	</CascadingValue>
</div>

