@inherits BlazorLeafletInterop.Components.Base.Evented

<div id="map" style="width: 100vh; height: 100vh">
    <CascadingValue Name="MapRef" Value="MapRef">
        <CascadingValue Name="IsRendered" Value="IsRendered">
            @if(IsRendered) @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>
