<div id="map" style="width: 100vh; height: 100vh">
    <CascadingValue Value="MapRef">
        <CascadingValue Value="IsRendered">
            @if(IsRendered) @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>
