@inherits BlazorLeafletInterop.Components.Base.Evented

<div id="@Id" class="@Class">
    <CascadingValue Name="MapRef" Value="MapRef">
        <CascadingValue Name="IsRendered" Value="IsRendered">
            @if(IsRendered) @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>
